<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.manage.mapper.PmsProductSaleAttrMapper">

    <select id="spuSaleAttrListCheckBySku" resultMap="spuSaleAttrList">
       SELECT
	ps.id as ps_id,pv.id as pv_id,ps.*,pv.*,if(pvs.sku_id,1,0) as isChecked
FROM
	pms_product_sale_attr ps
	INNER JOIN pms_product_sale_attr_value pv ON ps.product_id = pv.product_id
	AND ps.sale_attr_id = pv.sale_attr_id
	AND ps.product_id = #{productId}
	LEFT JOIN pms_sku_sale_attr_value pvs ON pv.id = pvs.sale_attr_value_id
	AND pvs.sku_id = #{skuId}
    </select>

    <resultMap id="spuSaleAttrList" type="com.atguigu.gmall.api.bean.PmsProductSaleAttr" autoMapping="true">
        <result column="ps_id" property="id"></result>
        <collection property="spuSaleAttrValueList" ofType="com.atguigu.gmall.api.bean.PmsProductSaleAttrValue" autoMapping="true">
            <result column="pv_id" property="id"></result>
        </collection>

    </resultMap>
</mapper>