<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.manage.mapper.PmsSkuInfoMapper">

    <select id="selectSkuSaleAttrValueListBySpuId" resultMap="selectSkuSaleAttrValueList">

        SELECT
	psi.id psi_is,
	psi.product_id,
	psi.price,
	psi.sku_name,
	psi.sku_desc,
	psi.weight,
	psi.tm_id,
	psi.catalog3_id,
	psi.sku_default_img,
	psav.*
FROM
	pms_sku_info psi,
	pms_sku_sale_attr_value psav
WHERE
	psi.id = psav.sku_id
	AND psi.product_id = #{productId}
    </select>
	<resultMap id="selectSkuSaleAttrValueList" type="com.atguigu.gmall.api.bean.PmsSkuInfo" autoMapping="true">
		<result column="psi_is" property="id"></result>
		<collection property="skuSaleAttrValueList" ofType="com.atguigu.gmall.api.bean.PmsSkuSaleAttrValue" autoMapping="true">

			<result column="id" property="id"></result>
		</collection>
	</resultMap>
</mapper>