<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.cart.mapper.OmsCartItemMapper">
<update id="updateCartList" parameterType="com.atguigu.gmall.api.bean.OmsCartItem">
UPDATE oms_cart_item SET is_checked = #{isChecked} WHERE member_id = #{memberId} and product_sku_id =#{productSkuId}
</update>
</mapper>